body{
  margin:0;
  font-family:Arial, sans-serif;
  background-image:url("https://img.freepik.com/free-photo/business-partners-handshake-global-corporate-with-technology-concept_53876-102615.jpg?semt=ais_hybrid&w=740&q=80");
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.form-container{
  background:rgba(174,210,228,0.95);
  padding:2rem;
  border-radius:12px;
  max-width:420px;
  width:100%;
  box-shadow:0 10px 25px rgba(0,0,0,.1);
  backdrop-filter:blur(2px);
}

h2{ text-align:center; margin-bottom:1rem; }

label{
  display:block;
  margin-top:1rem;
  font-weight:bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select{
  width:100%;
  padding:.6rem;
  border:1px solid #ccc;
  border-radius:6px;
  box-sizing:border-box;
  transition:border .3s, box-shadow .3s, background-color .3s;
  background:#fff;
}


input:focus, select:focus,
input.focused, select.focused{
  border-color:#6b73ff;
  outline:none;
  box-shadow:0 0 5px rgba(107,115,255,.5);
}


input.valid, select.valid{ border-color:green; }
input.invalid, select.invalid{ border-color:red; }

.checkbox-group{
  display:flex;
  align-items:center;
  margin-top:1rem;
}
.checkbox-group label{ margin-left:.5rem; font-size:.9rem; }

button{
  width:100%;
  margin-top:1.5rem;
  padding:.8rem;
  border:none;
  border-radius:8px;
  background:linear-gradient(to right,#6b73ff,#000dff);
  color:#fff;
  font-size:1rem;
  cursor:pointer;

}
button:hover{ filter:brightness(1.05); }
